/* Sezione Prenotazione */
.booking-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 600px;
    background-color: #faf5f5;
    margin: auto;
}

.booking-form .form-control {
    border-radius: 10px;
}

.booking-form button {
    background: #cab177;
    border: none;
    padding: 12px;
    border-radius: 20px;
    font-weight: bold;
}

.booking-form button:hover {
    background: #a8925c;
}
