/* Navbar inizialmente trasparente */
header {
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(5px);
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	padding: 0;
	transition: background-color 0.5s ease-in-out;
}

/* Navbar completamente trasparente all'inizio */
header.bg-transparent {
	background: rgba(0, 0, 0, 0) !important;
	box-shadow: none;
}

/* Navbar nera dopo lo scroll */
header.navbar-scrolled {
	background: rgba(0, 0, 0, 0.4) !important;
	backdrop-filter: blur(10px);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.nav {
	z-index: 1000;
}

.btn-registrati {
	background-color: #cab177 !important;
	border-color: #cab177;
}

.btn-registrati:hover {
	background-color: inherit !important;
	color: inherit !important;
	border-color: inherit !important;
}

.link-nav {
	font-size: large;
}

.navbar-scrolled {
	background-color: rgba(0, 0, 0, 0.9) !important; /* Nero semi-trasparente */
}
