.admin {
  padding-top: 10rem;
}

.check {
  font-size: 1.5rem;
  transition: all 0.3s;
}

.check:hover {
  transform: scale(1.1);
}

.accetta {
  color: green;
}

.rifiuta {
  color: red;
}


.toggle-switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 29px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff0000;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #28a745; /* Verde per accettare */
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.toggle-label {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

#userSection {
  display: flex;
  flex-direction: column; /* Disposizione verticale */
  gap: 1rem; /* Spaziatura tra le card */
}

