.card {
    background-color: #f5ebeb;
    max-width: none;
}

.evento {
    max-width: 800px;
    gap: 2rem;
}

.gestione {
    position: sticky !important;
    top: 90px !important;
    height: 500px;
    
}

.gestione-account {
    min-height: 500px; /* Altezza minima per mantenere la sezione ferma */
    max-height: 500px; /* Altezza massima per evitare spostamenti */
    overflow-y: auto;  /* Scorrimento interno se il contenuto è troppo lungo */
}

aside {
    display: block;
    unicode-bidi: isolate;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #cab177;
}

.nav-pills .nav-link {
    color: rgb(0, 0, 0) !important; /* Rende le scritte bianche */
}

.nav-pills .nav-link.active {
    background-color: #cab177; /* Colore di sfondo per il link attivo */
    color: white !important; /* Mantieni bianco anche il testo attivo */
}

.nav-pills .nav-link.active:hover {
    color: white !important;
}

.nav-pills .nav-link:hover {
    color: #cab177 !important; /* Anche al passaggio del mouse */
}

input {
    color: #cab177 !important;
}

.impostazioni::placeholder {
    color: #cab177 !important;
}


.btn-save {
    background-color: #cab177 !important;
    border-color: #cab177;
}

.btn-save:hover {
    background-color: inherit !important;
    color: inherit !important;
    border-color: inherit !important;
}


.btn-cancel {
    --bs-btn-color: #000000 !important;
    --bs-btn-border-color: #000000 !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: #ffffff !important;
    --bs-btn-hover-border-color: #ffffff !important;
    --bs-btn-focus-shadow-rgb: 248, 249, 250 !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: #ffffff !important;
    --bs-btn-active-border-color: #ffffff !important;
    --bs-btn-active-shadow: inset 0 3px 2px rgb(0, 0, 0) !important;
    --bs-btn-disabled-color: #ffffff !important;
    --bs-btn-disabled-bg: #fff !important;
    --bs-btn-disabled-border-color: #ffffff !important;
    --bs-gradient: none !important;
}

a {
    color: #000000;
}



@media (min-width: 768px) and (max-width: 1440px) {
	.evento {
		gap: 3rem;
	}
}


/* Nasconde il testo e mostra le icone a partire da 992px (tablet più grandi e PC ristretti) */
@media (max-width: 992px) {
    .nav-link span {
        display: none;
    }
    .nav-link i {
        display: inline-block;
    }
}

/* Mostra il testo e nasconde le icone sopra i 992px */
@media (min-width: 993px) {
    .nav-link span {
        display: inline;
    }
    .nav-link i {
        display: none;
    }
}

/* From Uiverse.io by Shoh2008 */ 
.checkbox-wrapper-4 * {
    box-sizing: border-box;
    color: white;
  }
  
  .checkbox-wrapper-4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
  }
  
  .checkbox-wrapper-4 .cbx:not(:last-child) {
    margin-right: 6px;
  }
  
  .checkbox-wrapper-4 .cbx:hover {
    background: rgba(0,119,255,0.06);
  }
  
  .checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  
  .checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
  }
  
  .checkbox-wrapper-4 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  
  .checkbox-wrapper-4 .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
  }
  
  .checkbox-wrapper-4 .cbx:hover span:first-child {
    border-color: #07f;
  }
  
  .checkbox-wrapper-4 .inp-cbx {
    position: absolute;
    visibility: hidden;
  }
  
  .checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
    background: #07f;
    border-color: #07f;
    animation: wave-4 0.4s ease;
  }
  
  .checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  
  .checkbox-wrapper-4 .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
  }
  
  @media screen and (max-width: 640px) {
    .checkbox-wrapper-4 .cbx {
      width: 100%;
      display: inline-block;
    }
  }
  
  @-moz-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  
  @-webkit-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  
  @-o-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  
  @keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }

