.admin {
  padding-top: 10rem;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 29px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D1462F;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2A7221; /* Verde per accettare */
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.toggle-label {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

#userSection {
  display: flex;
  flex-direction: column; /* Disposizione verticale */
  gap: 1rem; /* Spaziatura tra le card */
}

.toggle-label {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 5px;
}



.accetta {
  font-size: larger;
  color: #2A7221;
}


.rifiuta {
  font-size: larger;
  color: #D1462F;
}

.btn-accetta{
  background-color: transparent;
  border-color: #2A7221;
  transition: all 0.2s;
}

.btn-accetta:hover {
  border-color: #2A7221;
  transform: scale(1.1);
}

.btn-rifiuta{
  background-color: transparent;
  border-color: #D1462F;
  transition: all 0.2s;
}

.btn-rifiuta:hover {
  border-color: #D1462F;
  transform: scale(1.1);
}