.card {
    background-color: #f5ebeb;
    max-width: none;
}

a {
    color: black !important;
}


.gestione {
    position: sticky !important;
    top: 90px !important;
    height: 370px;
    
}

.gestione-account {
    right: -20px !important;
}

aside {
    display: block;
    unicode-bidi: isolate;
}


