/* Global Styles */
body {
    background-color: #faf5f5;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

/* Menu Button */
.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}

/* Navbar Toggler Default Button */
.navbar-toggler {
    width: 80px;
    height: 80px;
    transition: all 0.3s ease;
    transform-origin: center;
}

/* Navbar Toggler Focus Style */
.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Navbar Toggler Shrink Button on Scroll */
.shrink-button {
    transform: scale(0.7);
    transition: all 0.3s ease;
}



/* Navbar Lines for Animation */
.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

/* Navbar Line Animation When Opened */
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

/* DM Serif Text Font Styling */
.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-style: italic;
}

/* Navbar Styles */
header {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
    transition: background-color 0.5s ease-in-out;
}

/* Transparent Navbar at Start */
header.bg-transparent {
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: none;
}

/* Darker Navbar After Scroll */
header.navbar-scrolled {
    background: rgba(0, 0, 0, 0.4) !important;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

/* Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    background: transparent !important;
}

/* Registration Button Styling */
.btn-registrati {
    background-color: #cab177 !important;
    border-color: #cab177;
}

.btn-registrati:hover {
    background-color: inherit !important;
    color: inherit !important;
    border-color: inherit !important;
}

/* Search Button Styling */
.btn-cerca {
    color: #cab177;
    font-size: 1.1rem;
    right: 1rem;
    transition: transform 0.2s ease-in-out;
}

/* Navbar Link Styling */
.link-nav {
    font-size: large;
}

/* Navbar Image and Toggler Animation */
.navbar img, .navbar-toggler {
    transition: all .2s;
}

/* Navbar Scrolled Darker Styling */
.navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.navbar-scrolled img {
    width: 60px;
    height: 60px;
}

/* Footer Styling */
.footer {
    background: url("../img/sfondo-footer.png") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.footer-logo {
    max-width: 200px;
    height: auto;
    margin-top: 3rem;
}

/* Social Section Styling */
.social-section {
    text-align: center;
    align-items: center;
    margin-top: 18rem;
}

/* Social Icons Styling */
.social-icons a {
    margin: 0 10px;
    color: #ffffffde;
    font-size: 35px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #cab177;
}

/* Footer Links Styling */
.footer-link {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.footer-link a {
    color: white;
    text-decoration: none;
}

.footer-link a:hover {
    color: #cab177;
}




/* Stile per il bollino (badge) */
.badge-circle {
	width: 40px;
	height: 40px;
	background-color: #cab177d2;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 1.1rem;
	font-weight: bold;
	text-transform: uppercase;
	color: white; /* Fissa il colore del testo */
	transition: transform 0.3s, background-color 0.3s ease-in-out;
}

.badge-circle:hover {
    border: none !important;
    transform: scale(1.1);
    background-color: #cab177d2 !important; /* Mantiene il colore di sfondo */
    color: white !important; /* Mantiene il colore del testo */
}

/* Correzione per la freccia della dropdown centrata verticalmente */
#userDropdown::after {
    vertical-align: middle !important;
    position: relative;
    top: 0;
    margin-left: 5px;
}


